[user]
	email = 4257730+ludfjig@users.noreply.github.com
	name = Ludvig Liljenberg
[gpg]
	format = ssh
[commit]
	gpgSign = true
[alias]
	c = commit
	s = status
	a = add
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
	defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
	renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
	all = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[include]
	path = "~/.gitconfig.local"
